<div class="container mt-4">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Welcome to BRG Blog</h1>
    <p class="lead text-white-80">
      A collection of blogs on useful information around programming and web development.
    </p>
    <hr class="my-4">
    <p class="text-danger">(<strong>NOTE:</strong> This is a test project. Any data you created will be deleted after sometime.)</p>
    <p class="lead">
      Sign up by clicking below and enjoy!
    </p>
    <%= link_to  "Sign up", signup_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>
